.trending {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.page-title {
  margin-bottom: 20px;

  width: 100%;
}

h2 {
  width: 100%;

  margin: 0;
  padding: 0;

  font-size: 40px;

  text-align: center;
}

.pagination--top {
  margin-bottom: 20px;
}

.body {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  margin-bottom: 20px;

  margin: 0 -24px;
}

@media (max-width: 600px) {
  .body {
    margin: 0 -16px;
  }
}
