.trending {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.page-title {
  margin-bottom: 20px;

  width: 100%;
}

.page-title > h2 {
  width: 100%;

  margin: 0;
  padding: 0;

  font-size: 40px;

  text-align: center;
}

.body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  margin-bottom: 20px;
}
